body {
	background-color: #7D837C;
	font-family: 'Ubuntu', sans-serif;
}
.top-navigation {
	background-color: #EAEAEA;
}
.top-navigation h1{
	float: right;
	margin-right: 2em;
	margin-top: 0em;
	text-shadow: 2px 2px 2px #000;
	color: #EAEAEA;
	font-size: 4em;
}
.top-navigation ul {
	display: inline;
	float: right;
	text-shadow: 1px 1px 1px #000;
	color: #EAEAEA;
	margin-top: 1.3em;
}
.top-navigation a {
	text-shadow: 2px 2px 2px #000;
	color: #EAEAEA;
	text-decoration: none;
}
.logo {
	margin-left: 2em;
}
.about-me {
	margin-left: 10em;
	margin-right: 10em;
}
.about-me h1 {
	font-size: 1.5em;
}
.about-me {
	background-color: #B1B1B1;
	margin-left: 8em;
    margin-right: 8em;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
}
.portfolio h1{
	text-align: center;
	margin-top: 2em;
	margin-bottom: 1em;
	font-size: 2.5em;
}
.portfolio ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.portfolio li {
    display: inline;
    margin: 3em;
}
footer {
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
}
hr {
    border: 0;
    border-top: 1px solid #7D837C;
    margin: 1.313rem 0;
}
